pain.001.001.08v2.4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified"> 
    <xs:element name="Document" type="Document"/> 
    <xs:complexType name="AccountIdentification4Choice"> 
        <xs:choice> 
            <xs:element name="IBAN" type="IBAN2007Identifier"/> 
            <xs:element name="Othr" type="GenericAccountIdentification1" maxOccurs="1" minOccurs="1"/> 
        </xs:choice> 
    </xs:complexType> 
  <xs:complexType name="AccountIdentification5Choice"> 
        <xs:choice> 
             <xs:element name="Othr" type="GenericAccountIdentification2" maxOccurs="1" minOccurs="1"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="AccountSchemeName1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:simpleType
        name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5" />
            <xs:totalDigits value="18" />
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount"> 
        <xs:simpleContent> 
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType"> 
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/> 
            </xs:extension> 
        </xs:simpleContent> 
    </xs:complexType> 
    <xs:simpleType name="ActiveOrHistoricCurrencyCode"> 
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[A-Z]{3,3}"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="AddressType2Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="ADDR"/> 
            <xs:enumeration value="PBOX"/> 
            <xs:enumeration value="HOME"/> 
            <xs:enumeration value="BIZZ"/> 
            <xs:enumeration value="MLTO"/> 
            <xs:enumeration value="DLVY"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="AmountType3Choice"> 
        <xs:choice> 
            <xs:element name="InstdAmt" type="EquivalentAmount3" maxOccurs="1" minOccurs="1"/> 
            <xs:element name="EqvtAmt" type="EquivalentAmount2"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:simpleType name="AnyBICIdentifier"> 
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="Authorisation1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="Authorisation1Code"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="Prtry" type="Max128Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:simpleType name="Authorisation1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="AUTH"/> 
            <xs:enumeration value="FDET"/> 
            <xs:enumeration value="FSUM"/> 
            <xs:enumeration value="ILEV"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="BICFIIdentifier"> 
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="BaseOneRate"> 
        <xs:restriction base="xs:decimal"> 
            <xs:fractionDigits value="10"/> 
            <xs:totalDigits value="11"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="BatchBookingIndicator"> 
        <xs:restriction base="xs:boolean"/> 
    </xs:simpleType> 
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5"> 
        <xs:sequence>  
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8" />
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2"/> 
        </xs:sequence> 
    </xs:complexType> 
   <xs:complexType name="BranchAndFinancialInstitutionIdentification8"> 
        <xs:sequence>  
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification9" />
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3"/> 
        </xs:sequence> 
    </xs:complexType> 
  <xs:complexType name="BranchData3"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="Id"
                type="BussMsgID" />
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/> 
        </xs:sequence> 
    </xs:complexType> 
    <!-- Mahaboob S Start For IFSC COde Validation -->
     <xs:complexType name="BranchAndFinancialInstitutionIdentification6"> 
        <xs:sequence>  
            <xs:element maxOccurs="1" minOccurs="1" name="FinInstnId" type="FinancialInstitutionIdentification9" />
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2"/> 
        </xs:sequence> 
    </xs:complexType> 
    <!-- Mahaboob S End For IFSC COde Validation -->
    <xs:complexType name="BranchData2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Id"
                type="BussMsgID" />
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="CashAccount24"> 
        <xs:sequence> 
            <xs:element name="Id" type="AccountIdentification4Choice" maxOccurs="1" minOccurs="1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/> 
        </xs:sequence> 
    </xs:complexType> 
  <xs:complexType name="CashAccount25"> 
        <xs:sequence> 
            <xs:element name="Id" type="AccountIdentification5Choice" maxOccurs="1" minOccurs="1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="CashAccountType2Choice"> 
        <xs:choice> 
            <xs:element maxOccurs="1" minOccurs="1" name="Cd" type="ExternalCashAccountType1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="CategoryPurpose1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:simpleType name="ChargeBearerType1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="DEBT"/> 
            <xs:enumeration value="CRED"/> 
            <xs:enumeration value="SHAR"/> 
            <xs:enumeration value="SLEV"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="Cheque7"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="ChqTp" type="ChequeType2Code"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="ChqNb"
                type="BussMsgID" />
            <xs:element maxOccurs="1" minOccurs="0" name="ChqFr" type="NameAndAddress10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryMtd" type="ChequeDeliveryMethod1Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrTo" type="NameAndAddress10"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="ChqMtrtyDt" type="ISODate"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="FrmsCd" type="Max35Text"/> 
            <xs:element maxOccurs="2" minOccurs="0" name="MemoFld" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RgnlClrZone" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PrtLctn" type="Max35Text"/> 
            <xs:element maxOccurs="5" minOccurs="0" name="Sgntr" type="Max70Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="ChequeDelivery1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="MLDB"/> 
            <xs:enumeration value="MLCD"/> 
            <xs:enumeration value="MLFA"/> 
            <xs:enumeration value="CRDB"/> 
            <xs:enumeration value="CRCD"/> 
            <xs:enumeration value="CRFA"/> 
            <xs:enumeration value="PUDB"/> 
            <xs:enumeration value="PUCD"/> 
            <xs:enumeration value="PUFA"/> 
            <xs:enumeration value="RGDB"/> 
            <xs:enumeration value="RGCD"/> 
            <xs:enumeration value="RGFA"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="ChequeDeliveryMethod1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ChequeDelivery1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:simpleType name="ChequeType2Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="CCHQ"/> 
            <xs:enumeration value="CCCH"/> 
            <xs:enumeration value="BCHQ"/> 
            <xs:enumeration value="DRFT"/> 
            <xs:enumeration value="ELDR"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="ClearingSystemIdentification2Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="ClearingSystemMemberIdentification2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/> 
            <xs:element name="MmbId" type="MemberID" />
        </xs:sequence> 
    </xs:complexType> 
     <xs:complexType name="ClearingSystemMemberIdentification3"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/> 
            <xs:element name="MmbId" type="IFSC11Text" minOccurs="1" maxOccurs="1" />
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="ContactDetails2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="EmailAdr"
                type="EmailAddress" />
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="CountryCode"> 
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[A-Z]{2,2}"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="CreditDebitCode"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="CRDT"/> 
            <xs:enumeration value="DBIT"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="CreditTransferTransaction6"> 
        <xs:sequence> 
            <xs:element name="PmtId" type="PaymentIdentification1" maxOccurs="1" minOccurs="1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation19"/> 
            <xs:element name="Amt" type="AmountType3Choice" maxOccurs="1" minOccurs="1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateInf" type="ExchangeRate1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgBr" type="ChargeBearerType1Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="ChqInstr" type="Cheque7"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="PartyIdentification43"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification5"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1Acct" type="CashAccount24"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification5"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2Acct" type="CashAccount24"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification5"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3Acct" type="CashAccount24"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification8"/> 
           <!--  <xs:element maxOccurs="1" minOccurs="1" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5"/> Mahaboob S Changed -->
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="CashAccount24"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="Cdtr" type="PartyIdentification43"/> 
      <!-- <xs:element maxOccurs="1" minOccurs="1" name="CdtrAcct" type="CashAccount24"/> Mahaboob S Changed -->
            <xs:element maxOccurs="1" minOccurs="1" name="CdtrAcct" type="CashAccount25"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtCdtr" type="PartyIdentification43"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstrForCdtrAgt" type="InstructionForCreditorAgent1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="InstrForDbtrAgt" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Purpose2Choice"/> 
            <xs:element maxOccurs="10" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting3"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tax" type="TaxInformation3"/> 
            <xs:element maxOccurs="10" minOccurs="0" name="RltdRmtInf" type="RemittanceLocation2"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation7"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="CreditorReferenceInformation2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CreditorReferenceType2"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="CreditorReferenceType1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="DocumentType3Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="CreditorReferenceType2"> 
        <xs:sequence> 
            <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="CustomerCreditTransferInitiationV08"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="GrpHdr" type="GroupHeader48"/> 
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PmtInf" type="PaymentInstruction9"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="DateAndPlaceOfBirth"> 
        <xs:sequence> 
            <xs:element name="BirthDt" type="ISODate"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/> 
            <xs:element name="CityOfBirth" type="Max35Text"/> 
            <xs:element name="CtryOfBirth" type="CountryCode"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="DatePeriodDetails"> 
        <xs:sequence> 
            <xs:element name="FrDt" type="ISODate"/> 
            <xs:element name="ToDt" type="ISODate"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="DecimalNumber"> 
        <xs:restriction base="xs:decimal"> 
            <xs:fractionDigits value="17"/> 
            <xs:totalDigits value="18"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="AmountInDecimal">
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="3" />
        <xs:totalDigits value="21" />

        <xs:minExclusive value="0"></xs:minExclusive>
        <xs:pattern value="\d{1,16}\.\d{1,2}"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DiscountAmountAndType1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="DiscountAmountType1Choice"/> 
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="DiscountAmountType1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalDiscountAmountType1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="Document"> 
        <xs:sequence> 
            <xs:element name="CstmrCdtTrfInitn" type="CustomerCreditTransferInitiationV08"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="DocumentAdjustment1"> 
        <xs:sequence> 
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max4Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max140Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="DocumentType3Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="RADM"/> 
            <xs:enumeration value="RPIN"/> 
            <xs:enumeration value="FXDR"/> 
            <xs:enumeration value="DISP"/> 
            <xs:enumeration value="PUOR"/> 
            <xs:enumeration value="SCOR"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="DocumentType5Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="MSIN"/> 
            <xs:enumeration value="CNFA"/> 
            <xs:enumeration value="DNFA"/> 
            <xs:enumeration value="CINV"/> 
            <xs:enumeration value="CREN"/> 
            <xs:enumeration value="DEBN"/> 
            <xs:enumeration value="HIRI"/> 
            <xs:enumeration value="SBIN"/> 
            <xs:enumeration value="CMCN"/> 
            <xs:enumeration value="SOAC"/> 
            <xs:enumeration value="DISP"/> 
            <xs:enumeration value="BOLD"/> 
            <xs:enumeration value="VCHR"/> 
            <xs:enumeration value="AROI"/> 
            <xs:enumeration value="TSUT"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="EquivalentAmount2"> 
        <xs:sequence> 
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/> 
        </xs:sequence> 
    </xs:complexType> 
        <xs:complexType name="EquivalentAmount3"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="Amt" type="AmountInDecimal" />
            <xs:element maxOccurs="1" minOccurs="1" name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="ExchangeRate1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveOrHistoricCurrencyCode"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="ExchangeRateType1Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="ExchangeRateType1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="SPOT"/> 
            <xs:enumeration value="SALE"/> 
            <xs:enumeration value="AGRD"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalAccountIdentification1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="2" />
            <xs:pattern value="([a-zA-Z0-9]{1,2})"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCategoryPurpose1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalClearingSystemIdentification1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="5"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalDiscountAmountType1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalLocalInstrument1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="35"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalOrganisationIdentification1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalPersonIdentification1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalPurpose1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalServiceLevel1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ExternalTaxAmountType1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="FinancialIdentificationSchemeName1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="FinancialInstitutionIdentification8"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="FinancialInstitutionIdentification9"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="ClrSysMmbId" type="ClearingSystemMemberIdentification3"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="GenericAccountIdentification1"> 
        <xs:sequence> 
                <xs:choice> 
            <xs:element name="Id" type="AccountID" maxOccurs="1" minOccurs="0"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/> 
                </xs:choice> 
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max7Text"/> 
        </xs:sequence> 
    </xs:complexType> 
  <xs:complexType name="GenericAccountIdentification2"> 
        <xs:sequence> 
            <xs:element name="Id" type="AccountID" maxOccurs="1" minOccurs="1"/>
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="GenericFinancialIdentification1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="GenericOrganisationIdentification1"> 
        <xs:sequence> 
            <xs:element name="Id" type="MemberID" maxOccurs="1" minOccurs="1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="GenericPersonIdentification1"> 
        <xs:sequence> 
            <xs:element name="Id" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="GroupHeader48"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="MsgId" type="BussMsgID"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="CreDtTm" type="CreateDateTime" />
            <xs:element maxOccurs="1" minOccurs="0" name="Authstn" type="Authorisation1Choice"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="NbOfTxs" type="NumberOfTransactions" />
            <xs:element maxOccurs="1" minOccurs="1" name="CtrlSum"
                type="AmountInDecimal" />
        <!-- Mahaboob S Start For InitgPty Validation 
            <xs:element name="InitgPty" type="PartyIdentification43"/> -->
      <xs:element maxOccurs="1" minOccurs="1" name="InitgPty" type="PartyIdentification44"/>
      <!-- Mahaboob S Start For InitgPty Validation -->
            <xs:element maxOccurs="1" minOccurs="0" name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification5"/> 
        </xs:sequence> 
    </xs:complexType> 
  <xs:complexType name="PartyIdentification44"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max40Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/> 
      <xs:element maxOccurs="1" minOccurs="1" name="Id"   type="Party11Choice" />
      <!-- Mahaboob S for validating OrgId start
            <xs:element maxOccurs="1" minOccurs="0" name="Id"
              type="Party12Choice" />-->
        <!-- Mahaboob S for validating OrgId End-->
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2"/> 
        </xs:sequence> 
    </xs:complexType> 
  
    <xs:simpleType name="IBAN2007Identifier"> 
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="ISODate"> 
        <xs:restriction base="xs:date"/> 
    </xs:simpleType> 
    
     <xs:simpleType name="RequestExecutionDate"> 
        <xs:restriction base="xs:date"/> 
    </xs:simpleType> 
    <xs:simpleType name="ISODateTime"> 
        <xs:restriction base="xs:dateTime"/> 
    </xs:simpleType> 
    <xs:simpleType name="Instruction3Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="CHQB"/> 
            <xs:enumeration value="HOLD"/> 
            <xs:enumeration value="PHOB"/> 
            <xs:enumeration value="TELB"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="InstructionForCreditorAgent1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Instruction3Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInf" type="Max140Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="LocalInstrument2Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalLocalInstrument1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:simpleType name="Max10Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="10"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="Max128Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="128"/> 
      <xs:pattern value="[a-zA-Z0-9]{1,128}"/>
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="Max140Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="140"/> 
            <!--<xs:pattern value="[\s\S]*[^ ][\s\S]*[^#~()/%*]"/>-->
             <xs:pattern value="([^ ][a-zA-Z .0-9 :,/\(\)-]{1,140})"/>
        </xs:restriction> 
    </xs:simpleType> 
  <!-- Mahaboob s 03-09-2017 Beg-->
  <xs:simpleType name="Max40Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
      <!--<xs:pattern value="[\s\S]*[^ ][\s\S]*[^#~()/%*]"/>-->
      <xs:pattern value="([a-zA-Z .0-9 :,/\(\)-]{1,40})" /> 
    </xs:restriction>
  </xs:simpleType>
  <!-- Mahaboob s 03-09-2017 Beg-->
    <xs:simpleType name="Max15NumericText"> 
        <xs:restriction base="xs:string"> 
            <xs:pattern value="[0-9]{1,15}"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="Max16Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="16"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="Max2048Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="2048"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="EmailAddress">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="65" />
            <xs:pattern value="([a-zA-Z0-9_.@]{1,65})"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="34"/> 
        </xs:restriction> 
    </xs:simpleType>
    <xs:simpleType name="AccountID">
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="34" />
        <xs:pattern value="([a-zA-Z0-9]{1,34})"></xs:pattern>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max350Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="350"/> 
        </xs:restriction> 
    </xs:simpleType> 
      <xs:simpleType name="Max35Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="35"/> 
        </xs:restriction> 
    </xs:simpleType>
  <!-- Mahaboob S on 05-03-2018 Max35Text_U -->
  <xs:simpleType name="Max35Text_U"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="35"/> 
      <xs:pattern value="([^ ][a-zA-Z0-9]{1,35})"></xs:pattern>
        </xs:restriction> 
    </xs:simpleType>

    <xs:simpleType name="Max36Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="35"/> 
       <xs:pattern value="[A-Z]{1,35}"></xs:pattern>
        </xs:restriction> 
    </xs:simpleType>
    <xs:simpleType name="PaymentInfoID">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="35" />
            <xs:pattern value="([^ ][a-zA-Z0-9 -]{1,35})"></xs:pattern> 
            <!-- <xs:pattern value="[0-9]{1,35}"/>-->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BussMsgID">
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="35" />
        <xs:pattern value="[a-zA-Z0-9]{1,35}"></xs:pattern>

      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgDefID">
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="35" />
        <xs:pattern value="[a-zA-Z0-9.]{1,35}"></xs:pattern>
        <xs:enumeration value="pain.001.001.08"></xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MemberID">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="35" />
            <xs:pattern value="[a-zA-Z0-9]{1,35}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="IFSC11Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="11" />
      <xs:pattern value="[a-zA-Z0-9/]{1,11}"></xs:pattern>
            <!--<xs:pattern value="[a-zA-Z]{4}[0]{1}[a-zA-Z0-9]{6}"></xs:pattern>-->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="4"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="Max70Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="70"/> 
            <!--  <xs:pattern value="[\s\S]*[^ ][\s\S]*"/> -->
            <xs:pattern value="([^ ][a-zA-Z .0-9 :,/\(\)-]{1,70})"/>
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="NameAndAddress10"> 
        <xs:sequence> 
            <xs:element name="Nm" type="Max140Text"/> 
            <xs:element name="Adr" type="PostalAddress6"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="NamePrefix1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="DOCT"/> 
            <xs:enumeration value="MIST"/> 
            <xs:enumeration value="MISS"/> 
            <xs:enumeration value="MADM"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="Number"> 
        <xs:restriction base="xs:decimal"> 
            <xs:fractionDigits value="0"/> 
            <xs:totalDigits value="18"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="OrganisationIdentification8"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="Othr" type="GenericOrganisationIdentification1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="Party11Choice"> 
        <xs:choice> 
            <xs:element maxOccurs="1" minOccurs="1" name="OrgId" type="OrganisationIdentification8"/> 
            <xs:element name="PrvtId" type="PersonIdentification5"/> 
        </xs:choice> 
    </xs:complexType> 
  <xs:complexType name="Party12Choice"> 
        <xs:choice> 
            <xs:element maxOccurs="1" minOccurs="0" name="OrgId" type="OrganisationIdentification9"/> 
            <xs:element name="PrvtId" type="PersonIdentification5"/> 
        </xs:choice> 
    </xs:complexType> 
  <xs:complexType name="OrganisationIdentification9"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="Othr" type="GenericOrganisationIdentification1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="PartyIdentification43"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="Nm" type="Max40Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/> 
      <xs:element maxOccurs="1" minOccurs="0" name="Id"   type="Party11Choice" />
      <!-- Mahaboob S for validating OrgId start
            <xs:element maxOccurs="1" minOccurs="0" name="Id"
              type="Party12Choice" />-->
        <!-- Mahaboob S for validating OrgId End-->
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="PaymentIdentification1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="InstrId"
                type="BussMsgID" />
            <xs:element name="EndToEndId" type="BussMsgID" maxOccurs="1" minOccurs="1"/>
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="PaymentInstruction9"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="1" name="PmtInfId" type="PaymentInfoID" />
            <xs:element maxOccurs="1" minOccurs="1" name="PmtMtd" type="PaymentMethod3Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="BtchBookg" type="BatchBookingIndicator"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="NbOfTxs"
              type="NumberOfTransactions" />
            <xs:element maxOccurs="1" minOccurs="1" name="CtrlSum"
                type="AmountInDecimal">

            </xs:element>
      <!--Mahaboob S for PmtTpInf validation Start
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation19"/> -->
      <xs:element maxOccurs="1" minOccurs="1" name="PmtTpInf" type="PaymentTypeInformation19"/>
      <!--Mahaboob S for PmtTpInf validation End -->
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdExctnDt"
                type="RequestExecutionDate" />
            <xs:element maxOccurs="1" minOccurs="0" name="PoolgAdjstmntDt" type="ISODate"/>
            <xs:element name="Dbtr" type="EpaymentDebitorAccount"
              maxOccurs="1" minOccurs="1" />
            <xs:element name="DbtrAcct" type="CashAccount24" maxOccurs="1" minOccurs="1"/> 
            <!--<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5"/>  Mahaboob S Changed-->
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6" maxOccurs="1" minOccurs="1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="CashAccount24"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="InstrForDbtrAgt" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="PartyIdentification43"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgBr" type="ChargeBearerType1Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccount24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcctAgt" type="BranchAndFinancialInstitutionIdentification5"/> 
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CdtTrfTxInf" type="CreditTransferTransaction6"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="PaymentMethod3Code"> 
  
  <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="35" />
      <xs:pattern value="[a-zA-Z0-9]{1,35}"></xs:pattern>
     </xs:restriction>
        <!-- Mahaboob S on03-09-2017 beg
    <xs:restriction base="xs:string"> 
            <xs:enumeration value="CHK"/> 
            <xs:enumeration value="TRF"/> 
            <xs:enumeration value="TRA"/> 
        </xs:restriction> 
     Mahaboob S on03-09-2017 End-->
    </xs:simpleType> 
    <xs:complexType name="PaymentTypeInformation19"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="SvcLvl" type="ServiceLevel8Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="PercentageRate"> 
        <xs:restriction base="xs:decimal"> 
            <xs:fractionDigits value="10"/> 
            <xs:totalDigits value="11"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="PersonIdentification5"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="PersonIdentificationSchemeName1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:simpleType name="PhoneNumber"> 
        <xs:restriction base="xs:string"> 
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="PostalAddress6"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/> 
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="Priority2Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="HIGH"/> 
            <xs:enumeration value="NORM"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="Purpose2Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalPurpose1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="ReferredDocumentInformation3"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ReferredDocumentType2"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RltdDt" type="ISODate"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="ReferredDocumentType1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="DocumentType5Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="ReferredDocumentType2"> 
        <xs:sequence> 
            <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="RegulatoryAuthority2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="RegulatoryReporting3"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="DbtCdtRptgInd" type="RegulatoryReportingType1Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Authrty" type="RegulatoryAuthority2"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtls" type="StructuredRegulatoryReporting3"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="RegulatoryReportingType1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="CRED"/> 
            <xs:enumeration value="DEBT"/> 
            <xs:enumeration value="BOTH"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="RemittanceAmount2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DscntApldAmt" type="DiscountAmountAndType1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxAmt" type="TaxAmountAndType1"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="RemittanceInformation7"> 
        <xs:sequence> 
            <xs:element maxOccurs="6" minOccurs="1" name="Ustrd" type="Max35Text_U"/> 
<!--             <xs:element minOccurs="0" name="Strd" type="StructuredRemittanceInformation9"/> 
 -->        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="RemittanceLocation2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="RmtId" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RmtLctnMtd" type="RemittanceLocationMethod2Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RmtLctnElctrncAdr" type="Max2048Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RmtLctnPstlAdr" type="NameAndAddress10"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="RemittanceLocationMethod2Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="FAXI"/> 
            <xs:enumeration value="EDIC"/> 
            <xs:enumeration value="URID"/> 
            <xs:enumeration value="EMAL"/> 
            <xs:enumeration value="POST"/> 
            <xs:enumeration value="SMSM"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:complexType name="ServiceLevel8Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalServiceLevel1Code"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="Prtry" type="Max36Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="StructuredRegulatoryReporting3"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Max10Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Inf" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="StructuredRemittanceInformation9"> 
        <xs:sequence> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RfrdDocInf" type="ReferredDocumentInformation3"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RfrdDocAmt" type="RemittanceAmount2"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrRefInf" type="CreditorReferenceInformation2"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Invcr" type="PartyIdentification43"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Invcee" type="PartyIdentification43"/> 
            <xs:element maxOccurs="3" minOccurs="0" name="AddtlRmtInf" type="Max140Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="SupplementaryData1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/> 
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="SupplementaryDataEnvelope1"> 
        <xs:sequence> 
            <xs:any namespace="##any" processContents="lax"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxAmount1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtls" type="TaxRecordDetails1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxAmountAndType1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TaxAmountType1Choice"/> 
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxAmountType1Choice"> 
        <xs:choice> 
            <xs:element name="Cd" type="ExternalTaxAmountType1Code"/> 
            <xs:element name="Prtry" type="Max35Text"/> 
        </xs:choice> 
    </xs:complexType> 
    <xs:complexType name="TaxAuthorisation1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Titl" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxInformation3"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="TaxParty1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="TaxParty2"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="AdmstnZn" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Mtd" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/> 
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rcrd" type="TaxRecord1"/>
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxParty1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxParty2"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Authstn" type="TaxAuthorisation1"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxPeriod1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Yr" type="ISODate"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TaxRecordPeriod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrToDt" type="DatePeriodDetails"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxRecord1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Ctgy" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyDtls" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrSts" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="CertId" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="FrmsCd" type="Max35Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="TaxPeriod1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAmt" type="TaxAmount1"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max140Text"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="TaxRecordDetails1"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="TaxPeriod1"/> 
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:simpleType name="TaxRecordPeriod1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="MM01"/> 
            <xs:enumeration value="MM02"/> 
            <xs:enumeration value="MM03"/> 
            <xs:enumeration value="MM04"/> 
            <xs:enumeration value="MM05"/> 
            <xs:enumeration value="MM06"/> 
            <xs:enumeration value="MM07"/> 
            <xs:enumeration value="MM08"/> 
            <xs:enumeration value="MM09"/> 
            <xs:enumeration value="MM10"/> 
            <xs:enumeration value="MM11"/> 
            <xs:enumeration value="MM12"/> 
            <xs:enumeration value="QTR1"/> 
            <xs:enumeration value="QTR2"/> 
            <xs:enumeration value="QTR3"/> 
            <xs:enumeration value="QTR4"/> 
            <xs:enumeration value="HLF1"/> 
            <xs:enumeration value="HLF2"/> 
        </xs:restriction> 
    </xs:simpleType> 
        <xs:complexType name="RequestPayloadType"> 
                        <xs:sequence> 
                                <xs:element name="AppHdr" type="BusinessApplicationHeaderType"/> 
                                <xs:element name="Document" type="Document"/> 
                        </xs:sequence> 
        </xs:complexType> 
        <xs:element name="RequestPayload" type="RequestPayloadType"/> 
        <xs:element name="AppHdr" type="BusinessApplicationHeaderType"/>         
    <xs:complexType name="BusinessApplicationHeaderType"> 
        <xs:sequence>                         
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="UnicodeChartsCode"/> 
            <xs:element name="Fr" type="Party9Choice" maxOccurs="1" minOccurs="1"/>
      <!-- Mahaboob S changed 
            <xs:element name="To" type="Party9Choice" maxOccurs="1" minOccurs="1"/> -->
      <xs:element name="To" type="Party13Choice" maxOccurs="1" minOccurs="1"/>
            <xs:element name="BizMsgIdr" type="BussMsgID" maxOccurs="1" minOccurs="1"/>
            <xs:element name="MsgDefIdr" type="MsgDefID" maxOccurs="1" minOccurs="1"/>
            <xs:element maxOccurs="1" minOccurs="1" name="BizSvc"  type="ServiceIdentifier" />
            <xs:element name="CreDt" type="CreateDateTime" />
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PssblDplct" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="BusinessMessagePriorityCode"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope"/> 
        </xs:sequence> 
    </xs:complexType> 
        <xs:simpleType name="ISONormalisedDateTime"> 
        <xs:restriction base="xs:dateTime"> 
            <xs:pattern value=".*"/> 
        </xs:restriction> 
    </xs:simpleType> 
    <xs:simpleType name="CreateDateTime"> 
        <xs:restriction base="xs:dateTime"> 
            <xs:pattern value="[T0-9:-]{1,19}"/> 
        </xs:restriction> 
    </xs:simpleType> 
        <xs:simpleType name="UnicodeChartsCode"> 
        <xs:restriction base="xs:string"/> 
    </xs:simpleType> 
        <xs:complexType name="Party9Choice"> 
        <xs:choice> 
            <xs:element maxOccurs="1" minOccurs="1" name="OrgId" type="PartyIdentification42"/>
           <!-- Mahaboob S Started
       <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/> -->
        </xs:choice> 
    </xs:complexType> 
  <!--Mahaboob S Started-->
   <xs:complexType name="Party13Choice"> 
        <xs:choice> 
            <xs:element maxOccurs="1" minOccurs="1"  name="FIId" type="BranchAndFinancialInstitutionIdentification7"/> 
        </xs:choice> 
    </xs:complexType> 
   <xs:complexType name="BranchAndFinancialInstitutionIdentification7"> 
        <xs:sequence>  
            <xs:element maxOccurs="1" minOccurs="1" name="FinInstnId" type="FinancialInstitutionIdentification10" />
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2"/> 
        </xs:sequence> 
    </xs:complexType> 
   <xs:complexType name="FinancialInstitutionIdentification10"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="ClrSysMmbId" type="ClearingSystemMemberIdentification4"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/> 
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/> 
        </xs:sequence> 
    </xs:complexType> 
   <xs:complexType name="ClearingSystemMemberIdentification4"> 
        <xs:sequence> 
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/> 
            <xs:element maxOccurs="1" minOccurs="1" name="MmbId" type="MemberID" />
        </xs:sequence> 
    </xs:complexType> 
  <!--Mahaboob S End-->
  <xs:complexType name="PartyIdentification42">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Id" type="Party10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2"/>
        </xs:sequence>
    </xs:complexType>
  <xs:complexType name="Party10Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="OrgId" type="OrganisationIdentification8"/>
            <xs:element name="PrvtId" type="PersonIdentification5"/>
        </xs:choice>
    </xs:complexType>  
        <xs:simpleType name="CopyDuplicate1Code"> 
        <xs:restriction base="xs:string"> 
            <xs:enumeration value="CODU"/> 
            <xs:enumeration value="COPY"/> 
            <xs:enumeration value="DUPL"/> 
        </xs:restriction> 
    </xs:simpleType> 
        <xs:simpleType name="YesNoIndicator"> 
        <xs:restriction base="xs:boolean"/> 
    </xs:simpleType> 
        <xs:simpleType name="BusinessMessagePriorityCode"> 
        <xs:restriction base="xs:string"/> 
    </xs:simpleType> 
        <xs:complexType name="SignatureEnvelope"> 
        <xs:sequence> 
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="lax"/> 
        </xs:sequence> 
    </xs:complexType> 




        <xs:simpleType name="ServiceIdentifier">
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="35"></xs:maxLength>
            <xs:enumeration
              value="CustomerCreditTransferInitiationV08">
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="DebitorAccount">
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="35"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="CreditorAccount">
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="35"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="NumberOfTransactions">
          <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"></xs:minExclusive>
            <xs:pattern value="\d{1,15}"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>

        <xs:complexType name="EpayDebitorIdentification">
          <xs:sequence>
            <xs:element name="Id" type="EpaymentString"
              maxOccurs="1" minOccurs="1">
            </xs:element>

          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="EpaymentOrginationID">
          <xs:sequence>
            <xs:element name="OrgId" type="EpaymentOther" maxOccurs="1" minOccurs="1"></xs:element>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="EpaymentOther">
          <xs:sequence>
            <xs:element name="Othr" type="EpayDebitorIdentification"
              maxOccurs="1" minOccurs="1">
            </xs:element>
          </xs:sequence>
        </xs:complexType>

        <xs:simpleType name="EpaymentUDCH">
          <xs:restriction base="xs:string"></xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="EpaymentString">
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="35"></xs:maxLength>
       <xs:pattern value="[a-zA-Z0-9]*[^#~()%*!@${} -]{1,35}"/>
            <!--<xs:pattern value="[\s\S]*[^ ][\s\S]*"/> -->
          </xs:restriction>
        </xs:simpleType>

        <xs:complexType name="EpaymentDebitorAccount">
          <xs:sequence>
            <xs:element  maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element  maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"></xs:element>
            <xs:element name="Id" type="EpaymentOrginationID" maxOccurs="1" minOccurs="1"></xs:element>
          </xs:sequence>
        </xs:complexType>
        <xs:complexType name="EpaymentCreditorAccount">
          <xs:sequence>
            <xs:element name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"></xs:element>
          </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="Max20Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="20"/> 
            <!--<xs:pattern value="[\s\S]*[^ ][\s\S]*[^#~()/%*]"/>-->
             <xs:pattern value="([^ ][a-zA-Z .0-9 :,/\(\)-]{1,20})"/>
        </xs:restriction> 
    </xs:simpleType> 
  <xs:simpleType name="Max7Text"> 
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/> 
            <xs:maxLength value="7"/> 
            <!--<xs:pattern value="[\s\S]*[^ ][\s\S]*[^#~()/%*]"/>-->
             <xs:pattern value="([^ ][a-zA-Z .0-9 :,/\(\)-]{1,7})"/>
        </xs:restriction> 
    </xs:simpleType> 
</xs:schema>